.main {
  background-color: #FFFFFF;
}

.container {
  display: flex;

  padding: 10px 20px;

  flex-direction: column;
}

.heading {
  display: flex;

  justify-content: center;
  gap: 10px;
}

.breadcrumb {
  display: flex;
  margin-bottom: 5px;

  font-size: 18px;
}

.link {
  font-size: 30px;
}

.info {
  display: flex;

  justify-content: center;
  flex-wrap: wrap;
  column-gap: 30px;
}

.info__item {
  font-size: 20px;
}

.comments {
  display: flex;

  flex-direction: column;
}
